#contact {
  background: rgb(235, 206, 206);
  overflow-x: hidden;
}

.wrapper-contact {
  display: flex;
  max-width: 1111px;
  align-items: center;
  margin: 10rem auto;
}

.wrapper-contact figure {
  margin-left: 22rem;
}

@media (max-width: 1000px) {
  .wrapper-contact figure {
    margin: 0;
  }
}
.wrapper-contact figure img {
  width: 100%;
}

@media (max-width: 1000px) {
  .wrapper-contact {
    flex-direction: column;
    align-items: center;
    gap: 10rem;
  }
}

.contact-article {
  max-width: 540px;
}

.contact-article p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--white-color);
  margin: 2.4rem 0rem 5.6rem;
}

.contact-article p span {
  color: var(--second-color);
}

.contact-article .buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 533px) {
  .contact-article .buttons {
    flex-direction: column;
    gap: 2rem;
  }
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 1.4rem;
  background: var(--green-color);
  gap: 0.9rem;
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
}

.contact-button:hover {
  filter: brightness(0.9);
}

.instagram {
  background: var(--linear);
}

.not {
  text-transform: none;
}
