section {
  padding-top: 7.2rem;
  padding-bottom: 20.6rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background: var(--primary-color);
  position: relative;
}

.wrapper-title {
  width: fit-content;
  margin: auto;
}

.main-title {
  font-style: normal;
  font-weight: 400;
  font-size: 4.8rem;
  color: var(--second-color);
  text-transform: capitalize;
  position: relative;
}

.main-title:not(.not)::before {
  content: "";
  position: absolute;
  width: 82px;
  height: 6px;
  background: var(--second-color);
  left: -120px;
  top: 16px;
}

@media (max-width: 600px) {
  .main-title:not(.not)::before {
    width: 50px;
    height: 6px;
    left: -60px;
  }
}
@media (max-width: 480px) {
  .main-title:not(.not)::before {
    width: 20px;
    height: 6px;
    left: -30px;
  }
}

.main-title:not(.not):after {
  content: "";
  position: absolute;
  width: 82px;
  height: 6px;
  background: var(--second-color);
  right: -120px;
  top: 18px;
}

@media (max-width: 600px) {
  .main-title:not(.not):after {
    width: 50px;
    height: 6px;
    right: -60px;
    top: 18px;
  }
}

@media (max-width: 480px) {
  .main-title:not(.not)::after {
    width: 20px;
    height: 6px;
    right: -30px;
  }
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  margin: 15rem auto auto auto;
  column-gap: 4rem;
  row-gap: 4rem;
}

@media (max-width: 835px) {
  .card-wrapper {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 680px) {
  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.service-card {
  background: #ffffff;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 200ms;
  max-width: 343px;
}

.service-card img {
  width: 343px;

  height: 271px;
}

.service-card:hover {
  transform: scale(1.05);
}

.card-bottom {
  padding: 2.7rem 0rem 1.5rem 2rem;
}

.service-card p {
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--second-color);
}

.button {
  display: block;
  background: var(--second-color);
  padding: 1rem 3.5rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--white-color);
  text-transform: capitalize;
  text-align: center;
  border-radius: 100px;
  width: 135px;
  margin-top: 3rem;
}

.button:hover {
  filter: brightness(0.99);
}

.button:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}
