section {
  padding-top: 7.2rem;
  padding-bottom: 20.6rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background: var(--primary-color);
  position: relative;
}

.wrapper-title {
  width: fit-content;
  margin: auto;
}

.main-title {
  font-style: normal;
  font-weight: 400;
  font-size: 4.8rem;
  color: var(--second-color);
  text-transform: capitalize;
  position: relative;
}

.main-title:not(.not)::before {
  content: "";
  position: absolute;
  width: 82px;
  height: 6px;
  background: var(--second-color);
  left: -120px;
  top: 16px;
}

@media (max-width: 600px) {
  .main-title:not(.not)::before {
    width: 50px;
    height: 6px;
    left: -60px;
  }
}
@media (max-width: 480px) {
  .main-title:not(.not)::before {
    width: 20px;
    height: 6px;
    left: -30px;
  }
}

@media (max-width: 480px) {
  .main-title:not(.not)::before {
    display: none;
  }
}

.main-title:not(.not):after {
  content: "";
  position: absolute;
  width: 82px;
  height: 6px;
  background: var(--second-color);
  right: -120px;
  top: 18px;
}

@media (max-width: 600px) {
  .main-title:not(.not):after {
    width: 50px;
    height: 6px;
    top: 18px;
  }
}

@media (max-width: 480px) {
  .main-title:not(.not)::after {
    width: 20px;
    height: 6px;
    right: -30px;
  }
}

@media (max-width: 480px) {
  .main-title:not(.not)::after {
    display: none;
  }
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  margin: 15rem auto auto auto;
  column-gap: 4rem;
  row-gap: 4rem;
}

@media (max-width: 1120px) {
  .card-wrapper {
    grid-template-columns: repeat(2, auto);
  }
}
@media (max-width: 740px) {
  .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

.service-card {
  background: #ffffff;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 200ms;
  max-width: 343px;
}

.service-card img {
  width: 343px;
  height: 271px;
}

@media (max-width: 740px) {
  .service-card {
    max-width: none;
  }

  .service-card img {
    width: 100%;
  }
}
.service-card:hover {
  transform: scale(1.05);
}

.card-bottom {
  padding: 2.7rem 0rem 1.5rem 2rem;
}

.service-card p {
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--second-color);
}

.button {
  display: flex;
  justify-content: center;
  background: var(--second-color);
  padding: 1rem 3.5rem;
  font-size: 2rem;
  font-weight: 400;
  color: var(--white-color);
  text-transform: capitalize;
  text-align: center;
  border-radius: 100px;
  width: 135px;
  margin-top: 3rem;
}

.button:hover {
  filter: brightness(0.99);
}

.button:active {
  transform: translateY(3px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
}

.voucher-wrapper {
  margin: auto;
  max-width: 1111px;
  margin-top: 6rem;
}

.voucher {
  background: var(--second-color);
  padding: 1.5rem 1.5rem 7rem;
  box-shadow: -13px 13px 0px rgba(0, 0, 0, 0.062);
}

.voucher-top {
  margin-bottom: 2rem;
}

.voucher-top > p {
  padding: 10px 8px;
  font-weight: 400;
  font-size: 3.2rem;
  color: rgba(0, 0, 0, 0.25);
  background: var(--primary-color);
  width: fit-content;
}

.voucher-content {
  text-align: center;
  width: fit-content;
  margin: 2rem auto 0;
}

.voucher-content h4 {
  font-weight: 400;
  font-size: 4rem;
  color: var(--white-color);
  padding-bottom: 2rem;
  font-family: "Great Vibes", cursive;
}

.voucher-content p {
  font-size: 2rem;
  font-weight: 400;
  color: var(--white-color);
  padding-top: 3.1rem;
  border-top: 4px solid var(--primary-color);
  width: fit-content;
  text-align: center;
}

.voucher-btn {
  display: block;
  padding: 2.5rem 7rem;
  background: var(--primary-color);
  color: var(--second-color);
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  max-width: 275px;
  margin: 4.6rem auto 0;
  border: transparent;
  transition: all 200ms;
}

.voucher-btn:hover {
  outline: 2px solid var(--primary-color);
  color: var(--primary-color);
  background: transparent;
}
