#reviews {
  overflow-x: hidden;
}

.review-wrapper {
  /* display: flex; */
  justify-content: center;
  padding-top: 8.8rem;
  position: relative;
}

.card-review {
  max-width: 800px;
  min-height: 343px;
  background: var(--white-color);
  position: relative;
  margin: auto;
  border: 9px solid #cf919c;
  padding: 4.5rem 1rem 8.5rem 3rem;
  box-shadow: -8px -8px 0px rgba(207, 145, 156, 0.42);
}

.card-review .header-container {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.card-review .name {
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
  margin-bottom: 0.5rem;
}

.card-review .reviews,
.date {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
}

.card-review .stars-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.9rem;
}

.card-review .star {
  color: var(--second-color);
}

.card-review .content-container {
  margin-top: 3rem;
}

.card-review .content {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #000000;
}

.wrapper-btns {
  margin-top: 1rem;
}

.card-review button {
  padding: 1rem;
}

.card-review button:hover {
  box-shadow: 0 0 10px white;
}

.card-review button i {
  font-size: 3rem;
  color: var(--second-color);
}

.object {
  position: absolute;
  display: block;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 5px solid var(--second-color);
  border-bottom: 5px solid var(--second-color);
  width: 99%;
  height: 85px;
  top: 42%;
}

@media (max-width: 970px) {
  .object {
    width: 98%;
  }
}
@media (max-width: 500px) {
  .object {
    width: 97%;
  }
}
