::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--second-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
}
